# vim: set filetype=conf :
#
# Configuration file for rofs-filtered (filtered ReadOnlyFileSystem)
#
# This is an example of how you need to configure things if you run
# rofs-filtered with the "invert" option enabled.
#
# Please read the instructions in rofs-filtered.rc first since they apply here
# as well.

type:LNK
.type:LNK

# It's not enough to specify a RegEx for a deep directory or file. The whole
# path down to that location must also be allowed or else we won't be able to
# navigate the file system.

# First we need to allow some basic filesystem functionality:
/$
/\.$
/\.\.$

# Allow access to the /subDir1 directory and everything that's under it:
subDir1

# Allow access only to .flac files in subDir2
subDir2$
subDir2/.+\.flac$
